@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.4s;
  padding: 3px;
}

h2, h3 {
  font-weight: 600;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 4rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
}

@media (hover: hover) {
  a:hover {
    color: var(--color-primary);
  }
}
